    .hero-background {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            overflow: hidden;
        }

        @keyframes zoom-pan {
            0% {
                transform: scale(1);
            }
            100% {
                transform: scale(1.15);
            }
        }

        .background-layer {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-size: cover; 
            background-position: center;
            opacity: 0; 
            transition: opacity 2s ease-in-out, transform 20s linear; 
            z-index: 0;
            will-change: opacity, transform; 

            animation: zoom-pan 25s infinite alternate; 
            
        }

        #bg-1 {
            background-image:linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url('images/golf-avenue-img.jpg');
        }

        #bg-2 {
            
            background-image:linear-gradient(rgba(241, 237, 237, 0.2), rgba(0, 0, 0, 0)), url('images/banner\ new\ p.jpg');
            /* background-position: top; */
            background-size: cover;
            background-repeat: no-repeat;
        }

        #bg-3 {
            background-image:linear-gradient(rgba(241, 237, 237, 0.2), rgba(0, 0, 0, 0)), url('images/chinese-city.jpg');
        }

        .background-layer.active {
            opacity: 1;
        }

    